.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 280px;
  margin: 5rem auto;
  font-family: system-ui, sans-serif;
  flex: 1;
  margin-top: 1rem;
  padding:4.5rem;
  background-color: var(--framecolour);
}



.day {
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--freecolour);
  border-color: var(--rockbordercolour);
  border: 1px solid #ddd;
  font-size: 0.9rem;
}

/* Booked dates */
.booked {
  background: var(--busycolour);
  color: var(--textcolour);
  font-weight: 600;
}
