.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 280px;
  margin: 5rem auto;
  font-family: system-ui, sans-serif;
  flex: 1;
  margin-top: 1rem;
  margin-bottom:10rem;
}



.day {
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f4f4f4;
  border: 1px solid #ddd;
  font-size: 0.9rem;
}

/* Weekends */
.weekend {
  background: #fbe9e7;
  color: #b71c1c;
  font-weight: 500;
}

/* Booked dates */
.booked {
  background: #bd9321;
  border-color: #7b4002;
  color: #b26229;
  font-weight: 600;
}
