:root{
    --bgcolour: rgb(214, 199, 153);
    --textcolour: black;
    --headercolour: rgb(183, 172, 135);
    --framecolour: rgb(184, 179, 164);
    --mainfont: "Modern No. 20";
}


*{
    color: var(--textcolour);
    font-family: var(--mainfont);
}


body{
    margin:0%;
    background-color: var(--bgcolour);
}

#titleContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--headercolour);
    padding: 1rem 2rem;
}

.star{
    width: 4rem;
    height: auto;
}

#starContainer{
    display:flex;
    gap:0%;
    margin:0%;
    padding:0%;
}

#hotelTitle{
    font-size: x-large;
}

.label{
    background-color: var(--headercolour);
    font-size: x-large;
    padding:2.5rem;
}

#headimages{
    display:flex;
}

.image{
    width:20vw;
    height:auto;
    align-items: center;
    justify-content: space-between;
}