


*{
    color: var(--textcolour);
    font-family: var(--mainfont);
}


#contentWrapper{
    width:95vw;
    padding:2vw;
}

body{
    margin:0%;
    background-color: var(--bgcolour);
}

#titleContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--headercolour);
    padding: 1rem 2rem;
}

.star{
    width: 4rem;
    height: auto;
}

#starContainer{
    display:flex;
    gap:0%;
    margin:0%;
    padding:0%;
}

#hotelTitle{
    font-size: x-large;
}

.label{
    background-color: var(--headercolour);
    font-size: x-large;
    padding:2.5rem;
}

#activityLabel{
    width:95%;
}

#headimages{
    display:flex;
}

.image{
    width:35vw;
    height:auto;
    align-items: center;
    justify-content: space-between;
    margin-left: 7.5vw;
    margin-right: 7.5vw;
}

#roomDisplay{
    padding-top:0rem;
    padding-bottom:0rem;
}

.room{
    background-color: var(--framecolour);
    height:auto;
    width:25rem;
    padding:1rem;
}

#roomList{
    align-items: center;
}

.roomImage {
    max-width: 280px;
    display: block;
    margin: 1rem auto;
}

.roomRow {
    align-items: start;
    margin:1rem;
}

#roomDisplayLabels{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.roomText{
    padding-left:1rem;
    padding-right:1rem;
}

.roomLabel{
    padding-left:1rem;
    padding-right:1rem;
}

#roomsAndBooking{
    padding:5rem;
    padding-top:0rem;
}

#roomsAndCalendars{
    display:flex;
    justify-content:space-between;
}

#roomDisplayLabels{
    width:40vw;
}

#roomLabel{
    width:95%;
}

#submissionform{
    width:40vw;
}

#headImages{
    display:flex;
    justify-content: center;
    margin:5rem auto;
}

.footerText{
    background-color: var(--headercolour);
    padding: 1rem 2rem;
    font-size:x-large;
    flex:1;
}

.activities {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-left:auto;
    margin-right:auto;
}
.activity{
    padding:2.5rem;
    background-color: var(--framecolour);
    width: 425px;
}


