:root{
    --bgcolour: rgb(214, 199, 153);
    --textcolour: black;
    --headercolour: rgb(183, 172, 135);
    --framecolour: rgb(184, 179, 164);
    --mainfont: "Modern No. 20";
}


*{
    color: var(--textcolour);
    font-family: var(--mainfont);
}


#contentWrapper{
    width:100vw;
}

body{
    margin:0%;
    background-color: var(--bgcolour);
}

#titleContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--headercolour);
    padding: 1rem 2rem;
}

.star{
    width: 4rem;
    height: auto;
}

#starContainer{
    display:flex;
    gap:0%;
    margin:0%;
    padding:0%;
}

#hotelTitle{
    font-size: x-large;
}

.label{
    background-color: var(--headercolour);
    font-size: x-large;
    padding:2.5rem;
    width: 40vw;
}

#headimages{
    display:flex;
}

.image{
    width:35vw;
    height:auto;
    align-items: center;
    justify-content: space-between;
    margin-left: 7.5vw;
    margin-right: 7.5vw;
}

#roomDisplay{
    display:grid;
    grid-row-start: auto;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    column-gap: 5rem;
    grid-template-areas: 
    "roomDisplayLabels"
    "roomsAndCalendars";
    padding:5rem;
    width:40vw;
}

.room{
    background-color: var(--framecolour);
    height:auto;
    width:auto;
    padding:1rem;
}

#roomList{
    align-items: center;
}

.roomImage {
    max-width: 280px;
    display: block;
    margin: 1rem auto;
}

.roomRow {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5rem;
    align-items: start;
    margin:1rem;
}

#roomDisplayLabels{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.roomText{
    padding-left:1rem;
    padding-right:1rem;
}

.roomLabel{
    padding-left:1rem;
    padding-right:1rem;
}

#roomsAndBooking{
    display:grid;
    grid-row-start: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    column-gap: 5rem;
    grid-template-areas: 
    "submissionForm roomDisplay";
    padding:5rem;
}

#roomsAndCalendars{
    width:20vw;
}

#roomDisplayLabels{
    width:40vw;
}

#submissionform{
    width:40vw;
}

#headImages{
    display:flex;
    justify-content: center;
    margin:5rem auto;
}

.footerText{
    background-color: var(--headercolour);
    padding: 1rem 2rem;
    font-size:x-large;
}