:root{
    --bgcolour: rgb(214, 199, 153);
    --textcolour: black;
    --headercolour: rgb(183, 172, 135);
    --framecolour: rgb(184, 179, 164);
    --busycolour: rgb(143, 131, 131);
    --freecolour: rgb(208, 200, 200);
    --rockbordercolour: rgb(111, 102, 102);
    --mainfont: "Modern No. 20";
}